*{padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	}
	
	header{
		background-color: #1A2A3A;
		display: flex;
		flex-direction: column;
	}
	
	#textologo{
		margin-top: 6px;
	}
	
	li{
		list-style-type:none;
	}
	
	.logo{
		float:left;
		display: inline-flex;
		font-size: 25px;
	}
	
	.logo a{
		text-decoration:none;
		color: #DACCAE;
		padding-top: 9px;
	}
	
	.logo img{
		height: 45px;
	}
	
	.menusuperior{
		display: flex;
		justify-content: right;
	}
	
	.menusuperior li{
		display: inline-block;
		padding: 1vh ;
		font-size: 25px;
	}
	
	.menusuperior a{
		text-decoration:none;
		color: #DACCAE;
		font-weight: 600;
	
	}